body {
  margin: 0;
  padding: 0;
  background: #3f3f3f;
  color: white;
  font-family: Tahoma, Geneva, sans-serif;
}
h1 {
  color: orange;
}
h4 {
  color: #ffd96e;
}
main.content {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 10px;
}
#search {
  height: 80px;
  background: #3f3f3f;
}
#search .searchbox {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
#search .searchbox .input {
  width: 100%;
  height: 40px;
  border: 1px solid black;
  font-size: 20px;
  color: #3f3f3f;
  padding: 4px;
}
#search-results .artists {
  background: #8e8e8e;
  border: 1px solid white;
  padding: 10px;
}
#search-results .artists .artist {
  height: 20px;
}
#search-results .artists .artist:hover {
  background: #323330;
  cursor: pointer;
}
#artist .artist-img {
  height: 200px;
  width: 200px;
}
#artist #top-tracks .track:hover {
  background-color: #8e8e8e;
  cursor: pointer;
}
#artist #top-tracks .playing {
  background-color: #466437;
}
#artist #top-tracks .playing:hover {
  background-color: #643530 !important;
}
#artist #related-artists .artist:hover {
  cursor: pointer;
  background-color: #8e8e8e;
}
